.container-dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  min-height: 30%;

  form {
    height: 75%;
    width: 100%;
  }
}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed #97bef4;
  box-sizing: border-box;
  border-radius: 12px;
  width: 100%;
  height: 85%;

  .image {
    width: 30%;
    margin-top: 5%;
  }
}

.dropzone-message {
  /* Drag & Drop your image here */

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.035em;

  color: #bdbdbd;
}
